.bgcolor {
  background-color: rgb(255, 166, 0);
  background-image: url(../img/pattern_circles.png);
  background-blend-mode: multiply;
}
.center {
  display: flex;

  align-items: center;
  flex-direction: column;
}
.mybutton {
  margin-top: 10px;
  color: white;
  border: 0px solid black;
  border-radius: 20px 20px 20px 20px;
  background-color: rgb(28, 84, 255);
  height: 50px;
  width: 200px;
}
.fetucap {
  background: yellow;
}
.blurs {

background: rgba(255, 255, 255, 0.137);

border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(255, 255, 255, 0.76);
}
